<aside class="main-sidebar dark-bg">
    <section class="sidebar">
        <div class="user-panel black-bg">
            <div class="pull-left image"> <img src="~/lib/dist/img/img1.jpg" class="img-circle" alt="User Image"> </div>
            <div class="pull-left info">
                @if(ViewBag.User != null)
                {
                    <p>@ViewBag.User["FirstName"] @ViewBag.User["LastName"]</p>
                }
                <a href="#"><i class="fa fa-circle"></i> Online</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">

                    <li><a href="/"><i class="fa fa-angle-right"></i> Movies</a></li>
                    <li><a asp-action="Index" asp-controller="Category"><i class="fa fa-angle-right"></i> Category</a></li>
                    <li><a asp-action="Index" asp-controller="Comment"><i class="fa fa-angle-right"></i> Comment</a></li>
                    <li><a asp-action="Index" asp-controller="Cast"><i class="fa fa-angle-right"></i> Cast</a></li>

        </ul>
        <!-- sidebar-menu -->
    </section>
</aside>